name: chat-app

services:
  rabbitmq:
    image: rabbitmq:4-management
    ports:
      - '5672:5672'
      - '15672:15672'

  mongodb:
    image: mongo:8.2
    ports:
      - '27017:27017'

  redis:
    image: redis:8.2.2-alpine
    ports:
      - '6379:6379'

  nginx:
    image: nginx:1.29.4
    ports:
      - '80:80'
    volumes:
      - './nginx:/etc/nginx/conf.d'
      - './web/files:/usr/srv/files'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
