name: chat-app

services:
  rabbitmq:
    image: rabbitmq:4-management
    ports:
      - '5672:5672'
      - '15672:15672'

  mongodb:
    image: mongo:8.2
    ports:
      - '27017:27017'

  redis:
    image: redis:8.2.2-alpine
    ports:
      - '6379:6379'
